div{
    border: solid 10px black;
    width: 400px;
    min-height: 200px;
    margin: auto;
}
.padding1{
padding: 80px;
box-sizing: border-box;


}
.padding2{
padding-left: 50px;
padding-top: 70px;


}

.innerdiv{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: unset;
}